In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('questions.csv')
df.head(5)

,Question,option1,option2,option3,option4,answer
0,Where's the Eiffel Tower?,Spain,India,France,China,3.0
1,Where's the Taj Mahal?,China,India,Germany,Egypt,2.0
2,Who has been appointed as acting Chairman UPSC,ArvindSaxena,Sudha Jain,KirtiKumar,OmiAgarwal,1.0
3,India's first police museum will establish in ...,chennai,Delhi,Nagpur,Kolkata,2.0
4,"The Yarlung ZangboRiver in India,known as?",Ganga,Indus,Brahmaputra,Mahanadi,3.0

In [5]:
df[1:2]['Question']

1    Where's the Taj Mahal?
Name: Question, dtype: object

In [6]:
for i in range(10): 
    print(df['Question'][i:i+1].values)

["Where's the Eiffel Tower?"]
["Where's the Taj Mahal?"]
[' Who has been appointed as acting Chairman UPSC']
["India's first police museum will establish in which city?"]
['The Yarlung ZangboRiver in India,known as?']
['The Salal Project on the river?']
['The oldest dynasty still ruling in which country?']
['World day of water on which following dates?']
['What is the statutory Ratio at at present']
['Which of the following is not an endocrine gland?']

In [45]:
def quiz(df):
    score = 0
    name = input("Enter your name: ")
    print(name + ", Are you ready for a round of 10 questions?")
    t1 = input("Y/N? : ")
    if (t1 == 'y' or t1 == 'Y'):
        for i in range(10):
            print(df['Question'][i:i+1].values)
            print("(1)" + df['option1'][i:i+1] + " (2)" + df['option2'][i:i+1] + " (3)" + df['option3'][i:i+1] + " (4)" + df['option4'][i:i+1])
            t2 = float(input("Enter your option (0-4): "))
            
            if (t2 == df['answer'][i:i+1].values):
                score = score + 1
                print("Congrats " + name + "! Your Answer is Correct. Score = " + str(score))
            else:
                print("That was an incorrect answer. Score = " + str(score))
            
            t3 = input("Next question? (y/n): ")
            if(t3 == 'y' or t3 == 'Y'):
                continue
            else:
                break

In [ ]:
quiz(df)

Enter your name: poo
poo, Are you ready for a round of 10 questions?
Y/N? : y
["Where's the Eiffel Tower?"]
0    (1)Spain (2)India (3)France (4)China
dtype: object
Enter your option (0-4): 3
Congrats poo! Your Answer is Correct. Score = 1
Next question? (y/n): y
["Where's the Taj Mahal?"]
1    (1)China (2)India (3)Germany (4)Egypt
dtype: object
Enter your option (0-4): 2
Congrats poo! Your Answer is Correct. Score = 2
Next question? (y/n): y
[' Who has been appointed as acting Chairman UPSC']
2    (1)ArvindSaxena (2)Sudha Jain (3)KirtiKumar (4...
dtype: object
Enter your option (0-4): 1
Congrats poo! Your Answer is Correct. Score = 3
Next question? (y/n): y
["India's first police museum will establish in which city?"]
3    (1)chennai (2)Delhi (3)Nagpur (4)Kolkata
dtype: object
Enter your option (0-4): 2
Congrats poo! Your Answer is Correct. Score = 4

In [32]:
u = input()
print(u)

y
y

In [42]:
df['answer'][i:i+1]

9    4.0
Name: answer, dtype: float64